
.pagination {
	text-align: center;
	ul.page-numbers {
		list-style: none;
		li {
			display: inline-block;
			@include transition(all 0.25s ease-in-out);
			.page-numbers {
				color: #494949;
			}
			.current {
				color: $colby-blue;
				background-color: #eeeeee;
			}
			&:hover {
				background-color: #eeeeee;
			}
			&:first-child,
			&:last-child {
			}

		}
	}
}